@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: "Roboto";
  margin: 0;
  padding: 0; }

.text-center {
  text-align: center; }

.nav {
  padding: 25px 25px; }
  .nav .nav__brand {
    font-size: 24px; }
  .nav .nav__list {
    display: none;
    float: right;
    list-style: none;
    padding: 0;
    margin: 0; }
  .nav .nav__item {
    display: inline;
    margin-right: 15px; }
  @media (min-width: 600px) {
    .nav .nav__list {
      display: inline; } }

.landing .container__content {
  margin-top: 20vh; }
