.card {
  border-radius: 2px;
  padding: 25px 20px;
  margin: 0 10px;
  border: 1px solid #000;

  @media (min-width: 600px) {
    max-width: 400px;
    margin: auto;
  }
  
  .card__header {
    margin-bottom: 30px;
  }

  .card__heading {
    font-size: 26px;
    margin-bottom: 4px;
  }

  .card__subheading {
    font-size: 16px;
  }
}