.form {
  .form__group {
    margin-bottom: 15px;
  }

  .form__label,
  .form__input {
    display: block;
  }

  .form__label {
    margin-bottom: 10px;
  }

  .form__input {
    border: 1px solid #000;
    font-size: 14px;
    padding: 6px 4px;
    width: 96%;
  }

  .form__input:focus {
    outline: none;
  }

  .form__link {
    margin-bottom: 10px;
  }
}